[Desktop Entry]
Type=Application
Exec=tint2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_TW]=tint2
Name=tint2
Comment[zh_TW]=
Comment=
