#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chrome 應用程式啟動器
Exec=/opt/google/chrome/google-chrome --show-app-list
Icon=chrome-app-list
Categories=Network;WebBrowser;
StartupWMClass=chrome_app_list
