[Desktop Entry]
Name=DropboxFolder
GenericName=File Synchronizer
Comment=open dropbox folder
Exec=nautilus /home/scps950707/Dropbox/
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer;
StartupNotify=false
