[Desktop Entry]
Name=streamlink-twitch-gui
GenericName=streamlink-twitch-gui
Comment=streamlink-twitch-gui
Exec=/home/scps950707/streamlink-twitch-gui/streamlink-twitch-gui
Terminal=false
Type=Application
Icon=streamlink-twitch-gui
Categories=Multimedia
StartupNotify=false
